* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 40px;
    background-color: hsl(0, 0%, 100%);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.notification-panel, #notification-feed {
    background: white;
    border-radius: 12px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 16px;
    width: 400px;
}

#notification-feed {
    overflow-y: auto;
    height: 400px;
}

.form-container {
    width: 100%;
}

#notification-form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: hsl(0, 1%, 24%)
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    min-height: 80px;
    resize: none;
    font-size: 14px;
    margin-bottom: 8px;
}

textarea::placeholder {
    color:hsl(0, 1%, 26%)
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    background-color: hsl(180, 20%, 99%);
    color: hsl(0, 0%, 2%);
    cursor: pointer;
    font-size: 16px;
}

#send-notification-btn {
    margin-top: 5rem;
}

button:hover {
    background-color: hsl(120, 1%, 43%);
}

.notification-card {
    height: 70px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Alert color : #ffcccb */
.notification-card.alert {
    background-color: #ffcccb;
}

/* Success color : ##90ee90 */
.notification-card.success {
    background-color: #90ee90;
}

/* Info color : #add8e6 */
.notification-card.info {
    background-color: #add8e6;
}

.notification-message {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.notification-timestamp {
    font-size: 12px;
    color: #3f3f3f;
    margin-top: auto
}

/* mobile view - stack vertically */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .notification-panel {
        width: 100%;
    }
}